POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=clinical_trials
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://<username>:<passwor>@localhost:5432/clinical_trials