POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=clinical_trials
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Running the ETL locally
DATABASE_URL=postgresql+psycopg2://<username>:<password>@localhost:5432/clinical_trials

# Running via Docker Compose
DATABASE_URL_DOCKER=postgresql+psycopg2://<username>:<password>@db:5432/clinical_trials